@import "variableGlobal";
.caja{
    .cajaUno{
        background-color:lightcyan;
        margin: 10px;
        @include tamaño (50px, 100px, 'Montserrat')
    }
    .cajaDos{
        background-color:lightgray;
        margin: 10px;
        @include tamaño (80px, 70px, 'Montserrat')
    }
    .cajaTres{
        background-color: lightsteelblue;
        margin: 10px;
    }
}



